﻿@model ContactManager.Models.Benefits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Benefits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Benefit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BenefitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
